# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.DS_Store

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
_autosummary

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
.agents/

# Django stuff
*.log
local_settings.py
db.sqlite3

#Data 
examples/data
examples/parsed_parts
examples/parsed_parts_ter

# data
*.pickle
*.parquet
*.geojson
*.graphml
*.csv

# Flask stuff
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv/
venv/
ENV/

# MyPy
.mypy_cache/

# PyCharm env
.idea
